body{
    background: #04a6ba;
    font: normal 15pt Arial;
    overflow-x: hidden;
}
header{
    text-align: center;
    color: white;
}
section{
    
    max-width: 500px ; 
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    background: white;
}
select{
    width: 50%;
    height: 200px;
}
div{
    color: black;
    font: normal 15pt arial;
}
footer{
    text-align: center;
    color: white ;
    font: italic 15px Arial;
    max-width: 500px;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    overflow-wrap: unset;
    flex-wrap: nowrap;
    white-space: nowrap;
}